/* CSS Reset */
body{
    font-family: 'Baloo 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('background.jpg');
    background-repeat: no-repeat;
}
.left{
    position:absolute;
    left: 10px;
    top: 20px; 
    display:inline-block;
    border:2px solid blue
}
.left img{
    width:100px;
}
.left div{
    text-align: center;
}
.mid{
    /* To bring something to center */
    background-color: black;
    display:block;
    width:50%;
    margin:29px auto;
    border:2px solid red 
}
.right{
    position:absolute; 
    right: 20px;
    top: 33px; 
    display:inline-block;
    border:2px solid greenyellow
}
.navbar{
    display:inline-block;
}
.navbar li{
   
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding:34px 23px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color:grey;
}
.btn{
    margin:0px 9px;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 18px;
    cursor:pointer;
    font-family: 'Baloo 2', cursive;
}
.btn:hover{
    background-color: grey;
}
.container{
    border:2px solid white;
    margin: 106px 80px;
    /* padding: 75px; */
    width:50%;
    border-radius: 28px;
    background-color: aqua;
}
.form-group input{
    font-family: 'Baloo 2', cursive;
    text-align: center;
    width: 508px;
    display: block;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;

}
  .container button{
     display: block; 
     width: 23%; 
     margin: auto;
}
.About{
    font-family: 'Baloo 2', cursive;
    color:white;
    margin: 0px;
    padding: 0px;
    background-image: url('abouts.jpg');
    background-size: 200%;
}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat:repeat;
}
.story{
    /* position: absolute; */
    width: 50%;
    left:22%;
    background-color:chartreuse;
    margin:30px;
    text-align: center;
    font-size: 40px;
    height: 375px;
    color:blue;
}
#abc{
    text-decoration: underline;
}
.para{
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.youtube{
    /* position: absolute; */
    /* background-color: brown; */
    /* link="https://youtu.be/0by6K3wMlRc" */
    text-align: center;
    /* background-image: url('video.jpg'); */
    width:50%;
    height:400px;
    font-size: 40px;
    color:chocolate;
    border:2px solid blue;
    text-decoration: underline;
}
